/.env
/.env.*
/vendor/
/node_modules/
/storage/app/
/storage/framework/
/storage/logs/
/bootstrap/cache/
/.trae/
/.DS_Store
Thumbs.db
/.phpunit.result.cache
composer.phar
composer-setup.php
/ensandb/
/.tools/
/.gemini/
/.idea/
/.vscode/
/public/storage/
*.log
